@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
:root {
  --background-color-dark: #0c1223;
  --background-color-light: #282d2e;
  --primary-color: #1b2d7b;
  --gradient: linear-gradient(90deg, #007cf0, #00dfd8, #007cf0, #00dfd8);
}

body {
  background-color: #1d1d1f;
  color: #fff;
}
a {
  text-decoration: none;
  /* color: inherit; */
}
/* Navbar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-icon {
  width: 4rem;
  height: 4rem;
}
.nav-link {
  color: #fff;
}
.nav-item {
  padding: 0 12px;
}
.navbar-toggler {
  border: none;
  color: white;
}
.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
.nav-link:hover {
  background: linear-gradient(to right, #007cf0, #00dfd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-item a:focus {
  color: #fff;
}

::selection {
  background: #00dfd8;
  color: #1d1d1f;
}

/* Homepage Section*/
#home {
  padding: 1% 7% 12%;
  font-family: "DM sans", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

.title-row {
  justify-content: center;
  align-items: center;
  display: flex;
}
/* Image Column */
.profile-col {
  text-align: right;
}
.profile-image {
  width: 60%;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Text Column */
.title-heading {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 3%;
}
.title-text {
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 3%;
  font-size: 1.5rem;
}
.contact-now,
.about-link {
  font-weight: 900;
  transition: all 0.5s ease;
  text-decoration: none;
  border: none;
  outline: none;
  color: transparent;
  cursor: pointer;
  padding: 0;
  background: linear-gradient(to right, #007cf0, #00dfd8);
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
}
.con-icon {
  color: #00dfd8;
  margin-left: 8px;
  transform: rotate(10deg);
}
.chat-icon {
  margin-left: 8px;
}
.contact-now:hover,
.about-link:hover {
  background-color: white;
  -webkit-text-fill-color: white;
}

@media (max-width: 1028px) {
  .profile-col {
    text-align: center;
  }
}

/* About Section */
#about {
  padding: 1% 7% 12%;
  font-family: "DM sans", sans-serif;
  font-size: 1.25rem;
}
.about-title {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 3%;
}
.about-text {
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 3%;
  font-size: 1.5rem;
}
.about-link {
  font-weight: 400;
}

/* Work Section */
#work {
  padding: 1% 7% 12%;
  font-family: "DM sans", sans-serif;
}
.work-title {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2%;
}
.work-text {
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 5%;
  font-size: 1.5rem;
}

.cardw {
  width: 450px;

  padding: 40px 35px;
  border-radius: 16px;
  color: #fff;
  position: relative;
  background: linear-gradient(
        var(--background-color-light),
        var(--background-color-light)
      )
      padding-box,
    var(--gradient) border-box;
  background-size: 600% 600%;
  border: 3px solid transparent;
  animation: rotate 10s linear infinite;
  margin: 10px;
}
.cardw::after {
  content: "";
  height: 105%;
  width: 105%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  background: var(--gradient);
  background-size: 600% 600%;
  z-index: -10;
  filter: blur(50px);
  animation: rotate 10s linear infinite;
  transition: opacity 2s ease;
  opacity: 0;
}
.cardw:hover::after {
  opacity: 100%;
}

@keyframes rotate {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 95% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.card-container {
  text-align: center;
}
.tag-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tag {
  background-color: #1f2020;
  width: 7rem;
  height: 2rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px 15px;
}
.github-container {
  display: flex;
  justify-content: center;
}
.github-button {
  background-color: #1f2020;
  width: 4rem;
  height: 2.8rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.fa-gradient {
  background: linear-gradient(to right, #007cf0, #00dfd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}
.card-title {
  font-weight: 900;
  margin-bottom: 25px;
  background: -webkit-linear-gradient(#007cf0, #00dfd8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.work-row {
  margin-bottom: 50px;
}
.know-more {
  font-size: 1.25rem;
}

/* Footer section */
#footer {
  background-color: #00dfd8;
  width: auto;
  padding: 40px 40px 1px;
  /* align-items: center; */
  /* justify-content: center; */
  font-family: "DM sans", sans-serif;
  color: #1d1d1f;
}
.social-icons {
  font-size: 1.5rem;
  display: flex;
  gap: 2rem;
  color: #1d1d1f;
  margin-top: 15px;
}
.foi {
  color: #1d1d1f;
}
/* .foi:hover {
  color: #fff;
} */
.footer-container {
  display: flex;
  justify-content: space-evenly;
  /* align-items: baseline; */
  margin-bottom: 30px;
}
.footer-container h1 {
  margin-top: 0;
}
.copyright {
  margin-top: 5rem;
}
.footer-title {
  font-weight: 700;
  font-size: 3rem;
  color: #1d1d1f;
}
@media (max-width: 640px) {
  .footer-container {
    display: flex;
    align-items: start;
    flex-direction: column-reverse;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

@media (max-width: 460px) {
  .title-heading,
  .about-title,
  .work-title {
    font-size: 2rem;
  }

  .title-text,
  .about-text,
  .work-text {
    font-size: 1.1rem;
  }

  .contact-now {
    font-size: 1.1rem;
  }
  .work-row {
    margin-bottom: 2rem;
  }

  .profile-col {
    margin-bottom: 1.5rem;
  }

  .title {
    padding: 0;
  }

  #work,
  #about {
    margin-top: 3rem;
  }
}
